* {
    margin:  0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: azure;
}
.container {
    background-color: cadetblue;
    text-align: center;
    margin: 150px auto;
    padding: 25px;
    width: 600px;
    height: 500px;
    border-radius: 20px;
}
.head {
    margin-top: 25px;
}
.head h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    color: azure;
}
h2 span {
    color: crimson;
}
.head p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    letter-spacing: 3px;
    border-radius: 20px;
    background-color: crimson;
    width: 370px;
    margin: 10px auto;
    color: azure;
}
.mid {
    margin: 10px;
}
textarea {
    width: 450px;
    height: 300px;
    resize: none;
    margin: 5px auto;
    border-radius: 10px;
    border: 0;
    padding: 10px;
    background-color: azure;
    color: crimson;
}

textarea:focus {
    outline: 0;
}
.foot {
    display: flex;
    justify-content: space-between;
    width: 450px;
    margin: auto;
}

button {
    width: 100px;
    font-size: 15px;
    padding: 5px;
    background-color: crimson;
    border: 0;
    border-radius: 5px;
    color: azure;
}

@media screen and (max-width : 1180px) {
    .head h2 {
        font-size: 25px;
    }
    .head p {
        width: 300px;
        font-size: 12px;
    }
    textarea {
        width: 400px ;
    }
    .foot {
        width: 380px;
    }
    select {
        width: 200px;
        font-size: 11px;
    }
    button {
        padding: 0;
        margin: 0;
        width: 100px;
        font-size: 10px;
    }
    i {
        padding-right: 0px;
        font-size: 10px;
    }
}
@media screen and (max-width : 990px) {
    .container {
        width: 75%;
    }
    .head h2 {
        font-size: 35px;
    }
    .head p {
        width: 385px;
        font-size: 18px;
    }
    textarea {
        width: 500px ;
    }
    .foot {
        width: 480px;
    }
    select {
        width: 300px;
        font-size: 14px;
    }
    button {
        padding: 0;
        margin: 0;
        width: 100px;
        font-size: 15px;
    }
    i {
        margin: 2px;
        font-size: 15px;
    }
}
@media screen and (max-width : 745px) {
    .container {
        width: 70%;
    }
    .head h2 {
        font-size: 25px;
    }
    .head p {
        width: 350px;
        font-size: 14px;
    }
    textarea {
        width: 380px ;
    }
    .foot {
        width: 360px;
    }
    select {
        width: 200px;
        font-size: 12px;
    }
    button {
        padding: 0;
        margin: 0;
        width: 80px;
        font-size: 13px;
    }
    i {
        margin: 2px;
        font-size: 13px;
    }
}
@media screen and (max-width : 610px) {
    .container {
        width: 100%;
    }
    .head h2 {
        font-size: 35px;
    }
    .head p {
        width: 385px;
        font-size: 18px;
    }
    textarea {
        width: 500px ;
    }
    .foot {
        width: 480px;
    }
    select {
        width: 300px;
        font-size: 14px;
    }
    button {
        padding: 0;
        margin: 0;
        width: 100px;
        font-size: 15px;
    }
    i {
        margin: 2px;
        font-size: 15px;
    }
}
@media screen and (max-width : 560px) {
    .container {
        width: 100%;
    }
    .head h2 {
        font-size: 25px;
    }
    .head p {
        width: 350px;
        font-size: 14px;
    }
    textarea {
        width: 380px ;
    }
    .foot {
        width: 360px;
    }
    select {
        width: 200px;
        font-size: 12px;
    }
    button {
        padding: 0;
        margin: 0;
        width: 80px;
        font-size: 13px;
    }
    i {
        margin: 2px;
        font-size: 13px;
    }
}
@media screen and (max-width : 430px) {
    .container {
        width: 100%;
    }
    .head h2 {
        font-size: 20px;
    }
    .head p {
        width: 305px;
        font-size: 13px;
    }
    textarea {
        width: 300px ;
    }
    .foot {
        width: 290px;
    }
    select {
        width: 150px;
        font-size: 10px;
    }
    button {
        padding: 0;
        margin: 0;
        width: 70px;
        font-size: 10px;
    }
    i {
        margin: 2px;
        font-size: 10px;
    }
}
* {
    margin:  0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: azure;
}
.container {
    background-color: cadetblue;
    text-align: center;
    margin: 150px auto;
    padding: 25px;
    width: 45%;
    height: 500px;
    border-radius: 20px;
}
.head {
    margin-top: 25px;
}
.head h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    color: azure;
}
h2 span {
    color: crimson;
}
.head p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    letter-spacing: 3px;
    border-radius: 20px;
    background-color: crimson;
    width: 370px;
    margin: 10px auto;
    color: azure;
}
.mid {
    margin: 10px;
}
textarea {
    width: 450px;
    height: 300px;
    resize: none;
    margin: 5px auto;
    border-radius: 10px;
    border: 0;
    padding: 10px;
    background-color: azure;
    color: crimson;
}
textarea::placeholder {
    color: crimson;
}
textarea:focus {
    outline: 0;
}
.foot {
    display: flex;
    justify-content: space-between;
    width: 450px;
    margin: auto;
}

button {
    width: 100px;
    font-size: 15px;
    padding: 5px;
    background-color: crimson;
    border: 0;
    border-radius: 5px;
    color: azure;
}
i {
    padding-right: 5px;
}
#start {
    padding-right: 0;
}
@media screen and (max-width : 1180px) {
    .head h2 {
        font-size: 25px;
    }
    .head p {
        width: 300px;
        font-size: 12px;
    }
    textarea {
        width: 400px ;
    }
    .foot {
        width: 380px;
    }
    select {
        width: 200px;
        font-size: 11px;
    }
    button {
        padding: 0;
        margin: 0;
        width: 70px;
        font-size: 10px;
    }
    i {
        padding-right: 0px;
        font-size: 10px;
    }
}
@media screen and (max-width : 990px) {
    .container {
        width: 75%;
    }
    .head h2 {
        font-size: 35px;
    }
    .head p {
        width: 385px;
        font-size: 18px;
    }
    textarea {
        width: 500px ;
    }
    .foot {
        width: 480px;
    }
    select {
        width: 300px;
        font-size: 14px;
    }
    button {
        padding: 0;
        margin: 0;
        width: 100px;
        font-size: 15px;
    }
    i {
        margin: 2px;
        font-size: 15px;
    }
}
@media screen and (max-width : 745px) {
    .container {
        width: 70%;
    }
    .head h2 {
        font-size: 25px;
    }
    .head p {
        width: 350px;
        font-size: 14px;
    }
    textarea {
        width: 380px ;
    }
    .foot {
        width: 360px;
    }
    select {
        width: 200px;
        font-size: 12px;
    }
    button {
        padding: 0;
        margin: 0;
        width: 80px;
        font-size: 13px;
    }
    i {
        margin: 2px;
        font-size: 13px;
    }
}
@media screen and (max-width : 610px) {
    .container {
        width: 100%;
    }
    .head h2 {
        font-size: 35px;
    }
    .head p {
        width: 385px;
        font-size: 18px;
    }
    textarea {
        width: 500px ;
    }
    .foot {
        width: 480px;
    }
    select {
        width: 300px;
        font-size: 14px;
    }
    button {
        padding: 0;
        margin: 0;
        width: 100px;
        font-size: 15px;
    }
    i {
        margin: 2px;
        font-size: 15px;
    }
}
@media screen and (max-width : 550px) {
    .container {
        width: 100%;
    }
    .head h2 {
        font-size: 25px;
    }
    .head p {
        width: 350px;
        font-size: 14px;
    }
    textarea {
        width: 380px ;
    }
    .foot {
        width: 360px;
    }
    select {
        width: 200px;
        font-size: 12px;
    }
    button {
        padding: 0;
        margin: 0;
        width: 80px;
        font-size: 13px;
    }
    i {
        margin: 2px;
        font-size: 13px;
    }
}
@media screen and (max-width : 430px) {
    .container {
        width: 100%;
    }
    .head h2 {
        font-size: 20px;
    }
    .head p {
        width: 305px;
        font-size: 13px;
    }
    textarea {
        width: 300px ;
    }
    .foot {
        width: 290px;
    }
    select {
        width: 150px;
        font-size: 10px;
    }
    button {
        padding: 0;
        margin: 0;
        width: 70px;
        font-size: 10px;
    }
    i {
        margin: 2px;
        font-size: 10px;
    }
}
